<%- include('../../fragments/mobile/header') %>
        <section>
            <preview>
                <%- data %>
            </preview>
        </section>

<%- include('../../fragments/mobile/footer') %>
