content nav {
    display: block;
    padding: 20px 0 10px 0;
}

content ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
}

content li {
    display: block;
}

content li a {
    padding: 10px;
    color: var(--text-primary);
    text-decoration: none;
    cursor: pointer;
}

content li a:hover {
    border-radius: 5px;
    background-color: var(--background-secondary);
}

content li[selected] a {
    border-radius: 0;
    background-color: transparent;
    color: var(--primary);
    border-bottom: solid 2px var(--primary);
}

section table {
    flex: 1;
    border-collapse: collapse;
}

section thead tr {
    border-bottom: solid 4px var(--background-shimmer);
}

section table th {
    color: var(--text-secondary);
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    padding: 20px 0;
}

section table .replies,
        section table .views,
        section table .activity {
    width: 100px;
    color: var(--text-secondary);
    text-align: center;
}

section table td {
    padding: 20px 0;
    border-bottom: solid 1px var(--background-secondary);
}

section table tr[pinned] td > a:before {
    display: inline-block;
    content: '';
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
    background-image: url(../icons/ic_pin.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section table td > a {
    display: block;
    margin-bottom: 5px;
}

section table td categories {
    display: flex;
    gap: 10px;
    color: var(--text-secondary);
    font-size: 0.8em;
    margin-bottom: 10px;
}

section table td categories a {
    display: flex;
    gap: 5px;
    align-items: center;
    transition: color 0.3s;
    cursor: pointer;
}

section table td categories a:hover {
    color: var(--text-primary);
}

section table td categories a span {
    width: 12px;
    height: 12px;
}

section table td div {
    color: var(--text-secondary);
    font-size: 0.9em;
}
