@media(max-width:1000px) {
    list {
        width: 100% !important;
    }
}

content nav {
    display: block;
    padding: 20px 0 10px 0;
}

content ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
}

content li {
    display: block;
}

content li a {
    padding: 10px;
    color: var(--text-primary);
    text-decoration: none;
    cursor: pointer;
}

content li a:hover {
    border-radius: 5px;
    background-color: var(--background-secondary);
}

content li[selected] a {
    border-radius: 0;
    background-color: transparent;
    color: var(--primary);
    border-bottom: solid 2px var(--primary);
}

lists {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 40px;
}

list {
    display: block;
    width: calc(50% - 20px);
}

list-head,
        list-body {
    display: block;
}

list row {
    display: flex;
    align-items: center;
}

list-head {
    color: var(--text-secondary);
    padding: 20px 0;
    border-bottom: solid 4px var(--background-shimmer);
}

cell {
    display: block;
}

list cell:nth-child(1) {
    flex: 1;
}

list-body cell:nth-child(2) {
    width: 50px;
    color: var(--text-secondary);
    text-align: center;
}

list-body row {
    padding: 20px 0 20px 20px;
    border-bottom: solid 1px var(--background-secondary);
}

list-body a {
    display: block;
    color: var(--text-primary);
    text-decoration: none;
    cursor: pointer;
}

list-body title {
    display: block;
    margin-bottom: 5px;
}

list-body div {
    color: var(--text-secondary);
    font-size: 0.9em;
}
