:root {
    --width: 80%;
    --min-width: 800px;

    --primary: #994ce0;
    --secondary: #6b339e;

    --background: #141414;
    --background-secondary: #242424;
    --background-shimmer: #343434;
    
    --text-primary: #e6e6e6;
    --text-secondary: #b3b3b3;

    --white: #efefef;
    --black: #000000;
    
    --ripple: #666666;
    --good: #53bd39;
    --error: #f55442;
}
/*
@media(max-width:1500px) {
	:root {
		--width: 80% !important;
	}

	header,
            section {
		padding: 0px 10% !important;
	}
}
*/
@media(max-width:1200px) {
	:root {
		--width: 90% !important;
	}

	header,
            section {
		padding: 0px 5% !important;
	}
}

@media(max-width:800px) {
	header,
            section {
		padding: 0px 40px !important;
	}
}

html {
    color: var(--text-primary);
    background-color: var(--background);
    font-size: 1em;
    font-family: sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: var(--primary) transparent;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

::selection {
    color: var(--black);
    background: var(--primary);
    text-shadow: none;
}

::-moz-selection {
    color: var(--black);
    background: var(--primary);
    text-shadow: none;
}

body {
    min-width: var(--min-width);
    margin: 0;
}


header {
    position: fixed;
    top: 0;
	width: var(--width);
	min-width: calc(var(--min-width) - 80px);
	padding: 0px 10%;
    background-color: var(--text-primary);
    z-index: 10;
}

nav {
    white-space: nowrap;
}

header ul {
    display: flex;
    height: 80px;
    align-items: center;
    column-gap: 20px;
    padding: 0;
    margin: 0 auto;
}

header li {
    display: inline-block;
}

header li a {
    display: block;
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}

header li.home a {
    font-weight: 700;
    font-size: 1.8em;
}

header li.button a {
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--text-primary);
    background-color: var(--primary);
    transition: background-color 0.3s;
}

header li.button a:hover {
    background-color: var(--secondary);
}

header li span {
    color: var(--primary);
}


filler {
    flex: 1 1 1e-09px;
}

form {
    margin: 0;
}

section {
    display: flex;
    position: relative;
    top: 80px;
	width: var(--width);
	min-width: calc(var(--min-width) - 80px);
    align-items: start;
	padding: 0px 10%;
    gap: 30px;
}

sidebar {
    display: block;
    width: 250px;
    height: calc(100vh - 140px);
    padding: 30px 0;
    color: var(--text-secondary);
    border-right: solid 1px var(--background-secondary);
}

sidebar a,
        sidebar label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}

sidebar label {
    color: var(--text-primary);
}

sidebar a[type]:before,
        sidebar label:before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

sidebar a[type='topics']:before {
    background-image: url(../icons/ic_layers.svg);
}

sidebar a[type='more']:before {
    background-image: url(../icons/ic_menu.svg);
}

sidebar a[type='all']:before {
    background-image: url(../icons/ic_list.svg);
}

sidebar a[selected] {
    background-color: #343434;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

sidebar a:hover,
        sidebar label:hover {
    background-color: #343434;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

sidebar a span {
    width: 16px;
    height: 16px;
}

sidebar input[type='checkbox'] {
    display: none;
}

sidebar label:before {
    background-image: url(../icons/ic_less.svg);
}

sidebar input[type='checkbox']:checked + label:before {
    background-image: url(../icons/ic_more.svg);
}

sidebar container {
    display: block;
    max-height: 0px;
    transition: max-height 0.3s;
    overflow: hidden;
}

sidebar input[type='checkbox']:checked + label + container {
    max-height: 600px;
}

