preview h1,
        preview h2,
        preview h3,
        preview h4,
        preview h5,
        preview h6 {
    color: var(--text-primary);
    border-bottom: solid 1px var(--background-shimmer);
    padding: 15px 0;
    margin: 0;
}

preview strong {
    color: var(--text-primary);
}

preview a {
    color: var(--primary);
    text-decoration: none;
    transition: color 0.3s;
}

preview a:hover {
    color: var(--secondary);
}

preview table {
    flex: 1;
    border-collapse: collapse;
}

preview thead tr {
    border-bottom: solid 2px var(--background-shimmer);
}

preview table th {
    color: var(--text-secondary);
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    padding: 20px;
}

preview table td {
    padding: 20px;
    border-bottom: solid 1px var(--background-secondary);
}

preview pre {
    position: relative;
    display: block;
    width: calc((var(--width) * 1vw) - 380px);
    max-height: 400px;
    border-radius: 5px;
    background-color: var(--background-secondary);
    font-family: monospace;
    overflow: auto;
}

preview pre:before {
    position: sticky;
    top: 0;
    left: 0;
    display: block;
    content: attr(language);
    padding: 5px 10px;
    font-family: sans-serif;
    background-color: var(--background-shimmer);
}

preview pre copy {
    position: sticky;
    top: 6px;
    left: calc(100% - 34px);
    display: block;
    width: 24px;
    height: 24px;
    margin-top: calc(-24px - 0.4em);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/icons/ic_copy.svg);
    cursor: pointer;
}

preview code {
    display: inline-block;
    padding: 0 5px;
    color: var(--text-primary);
    border-radius: 5px;
    background-color: var(--background-secondary);
    font-family: monospace;
}

preview pre code {
    display: block;
    padding: 10px;
}

preview blockquote {
    display: block;
    margin: 0;
    padding: 0 15px;
    border-left: solid 2px var(--background-shimmer);
}

preview pre[language='java'] span.code-keyword {
    color: #ff7b72;
}

preview pre[language='java'] span.code-comment {
    color: #9198a1;
}

preview pre[language='java'] span.code-string {
    color: #a5d6ff;
}

preview pre[language='java'] span.code-number {
    color: #79c0ff;
}





preview pre[language='json'] span.code-key {
    color: #7ee787;
}

preview pre[language='json'] span.code-string {
    color: #a5d6ff;
}

preview pre[language='json'] span.code-number,
        preview pre[language='json'] span.code-boolean,
        preview pre[language='json'] span.code-null {
    color: #79c0ff;
}
