preview h1,
        preview h2,
        preview h3,
        preview h4,
        preview h5,
        preview h6 {
    color: var(--text-primary);
    border-bottom: solid 1px var(--background-shimmer);
    padding: 15px 0;
    margin: 0;
}

preview strong {
    color: var(--text-primary);
}

preview a {
    color: var(--primary);
    text-decoration: none;
    transition: color 0.3s;
}

preview a:hover {
    color: var(--secondary);
}

preview table {
    flex: 1;
    border-collapse: collapse;
}

preview thead tr {
    border-bottom: solid 2px var(--background-shimmer);
}

preview table th {
    color: var(--text-secondary);
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    padding: 20px;
}

preview table td {
    padding: 20px;
    border-bottom: solid 1px var(--background-secondary);
}

preview pre {
    display: block;
    width: calc((var(--width) * 1vw) - 380px);
    padding: 5px;
    border-radius: 5px;
    background-color: var(--background-secondary);
    overflow: auto;
}

preview pre:before {
    display: block;
    content: attr(language);
    padding: 10px;
    margin: -5px -5px 5px -5px;
    background-color: var(--background-shimmer);
}

preview pre code {
    display: block;
}

preview code {
    padding: 5px;
    color: var(--text-primary);
    border-radius: 5px;
    background-color: var(--background-secondary);
}

preview blockquote {
    display: block;
    margin: 0;
    padding: 0 15px;
    border-left: solid 2px var(--background-shimmer);
}

preview pre[language='java'] span.code-keyword {
    color: #ff7b72;
}

preview pre[language='java'] span.code-comment {
    color: #9198a1;
}

preview pre[language='java'] span.code-string {
    color: #a5d6ff;
}

preview pre[language='java'] span.code-number {
    color: #79c0ff;
}





preview pre[language='json'] span.code-key {
    color: #7ee787;
}

preview pre[language='json'] span.code-string {
    color: #a5d6ff;
}

preview pre[language='json'] span.code-number,
        preview pre[language='json'] span.code-boolean,
        preview pre[language='json'] span.code-null {
    color: #79c0ff;
}
