content {
    display: flex;
    width: 100%;
    gap: 30px;
    padding-bottom: 20px;
    flex-direction: column;
}

content thread-header {
    display: block;
    width: 100%;
    padding: 20px 0;
    border-bottom: solid 1px var(--background-shimmer);
}

content thread-header h1 {
    margin: 0;
    color: var(--text-primary);
    font-size: 1.5em;
}

content thread {
    display: flex;
    width: 100%;
    gap: 20px;
}

content thread > a {
    position: sticky;
    top: 90px;
    display: block;
    height: fit-content;
    cursor: pointer;
}

content thread > a > img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--background-shimmer);
}

content thread-inner {
    display: block;
    flex: 1;
}

form {
    display: flex;
	flex-direction: column;
    gap: 30px;
}

iframe[name='hiddenFrame'] {
    display: none;
}

field {
	display: flex;
	align-content: center;
	justify-content: center;
}

input-field {
	position: relative;
    display: block;
	width: 100%;
}

input-field:before {
    position: absolute;
    top: -0.4em;
    left: 10px;
    padding: 0 10px;
    line-height: 0.8em;
	content: attr(title);
    background-color: var(--background);
    font-size: 0.8em;
	transition: color 0.3s;
}

input-field:focus-within:before {
    color: var(--primary);
}

input[type='email'],
        input[type='password'],
        input[type='tel'],
        input[type='text'] {
	display: block;
	width: calc(100% - 32px);;
	padding: 15px;
	font-size: 0.8em;
	border: none;
	color: var(--text-primary);
	background-color: transparent;
	border: solid 1px var(--background-shimmer);
	border-radius: 5px;
	transition: border 0.3s;
	outline: none;
}

input[type='email']:focus,
        input[type='password']:focus,
        input[type='tel']:focus,
        input[type='text']:focus {
	border: solid 1px var(--primary);
}

field input-field:nth-child(1) {
	margin-right: 10px;
}

field input-field:nth-child(2) {
	margin-left: 10px;
}

preview pre {
    width: calc((var(--width)* 1vw) - 104px) !important;
}





selector-header {
    display: block;
    width: 100%;
}

input[type='checkbox'].fl-select + label {
    position: relative;
    display: flex;
    width: calc(100% - 36px);
    flex: 1;
    padding: 13px 18px;
    align-items: center;
    font-size: 1em;
    line-height: 16px;
    color: var(--text-primary);
    background-color: var(--background-secondary);
    border-radius: 5px;
    z-index: 2;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

input[type='checkbox'].fl-select:checked + label {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

input[type='checkbox'].fl-select {
    display: none;
}

input[type='checkbox'].fl-select + label:before {
    content: attr(label);
}

input[type='checkbox'].fl-select + label:after {
    display: inline-block;
    content: '';
    width: 1em;
    height: 1em;
    margin-left: auto;
    background-image: url(/icons/ic_less.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input[type='checkbox'].fl-select:checked + label:after {
    background-image: url(/icons/ic_more.svg);
}

input[type='checkbox'].fl-select:checked + label fl-options {
    display: block;
}

fl-options {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    white-space: nowrap;
    background-color: var(--background-shimmer);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

fl-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 18px;
}

fl-option:hover {
    background-color: var(--background-secondary);
}

fl-option span {
    width: 16px;
    height: 16px;
}

response {
	display: none;
	font-size: 0.8em;
	margin: 0px auto;
	color: var(--error);
	overflow: hidden;
}

response:not(:empty) {
	display: block;
}

input[type='submit'] {
    display: block;
    width: fit-content;
    border-radius: 5px;
    padding: 11px 20px;
    margin-left: auto;
    font-size: 1em;
    color: var(--text-primary);
	border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--primary);
	transition: background-color 0.3s;
}

input[type='submit']:hover {
    background-color: var(--secondary);
}
