content {
    display: flex;
    width: 100%;
    gap: 30px;
    padding-bottom: 20px;
    flex-direction: column;
}

content thread-header {
    display: block;
    width: 100%;
    padding: 20px 0;
    border-bottom: solid 1px var(--background-shimmer);
}

content comment,
        content reply {
    display: flex;
    gap: 20px;
}

content comment-inner {
    display: block;
    flex: 1;
    border: solid 1px var(--background-shimmer);
    border-radius: 10px;
}

comments {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: solid 1px var(--background-shimmer);
}

thread-header h1 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
}

categories {
    display: flex;
    gap: 10px;
    color: var(--text-secondary);
    font-size: 0.8em;
}

categories a {
    display: flex;
    gap: 5px;
    color: var(--text-secondary);
    text-decoration: none;
    align-items: center;
    transition: color 0.3s;
    cursor: pointer;
}

categories a:hover {
    color: var(--text-primary);
}

categories a span {
    width: 12px;
    height: 12px;
}

content comment-header {
    display: flex;
    height: 39px;
    gap: 10px;
    align-items: center;
    padding: 0 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--background-secondary);
    border-bottom: solid 1px var(--background-shimmer);
}

content comment > a,
        content reply > a {
    position: sticky;
    top: 90px;
    display: block;
    height: fit-content;
    cursor: pointer;
}

content comment > a > img,
        content reply > a > img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--background-shimmer);
}

content comment-header h3 {
    font-size: 1em;
    margin: 0;
}

content comment-header a {
    display: block;
    color: var(--text-primary);
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
}

content comment-header a:hover {
    color: var(--primary);
}

content comment-header date {
    display: block;
    color: var(--text-secondary);
    font-size: 0.8em;
}

content comment-header button {
    display: block;
    background: transparent;
    border: 0;
    margin-left: auto;
    padding: 0;
    cursor: pointer;
}
