@media(max-width:1500px) {
	section {
		padding: 40px 10% !important;
	}
}

@media(max-width:1200px) {
	section {
		padding: 40px 5% !important;
	}
}

@media(max-width:800px) {
	section {
		padding: 40px 40px !important;
	}
}

section {
    display: block;
    position: relative;
    top: var(--top);
    width: var(--width);
    min-height: calc(100vh - 160px);
	padding: 40px 15%;
    line-height: 1.6em;
    color: var(--text-secondary);
}

preview {
    display: block;
}

preview h1,
        preview h2,
        preview h3,
        preview h4,
        preview h5,
        preview h6 {
    color: var(--text-primary);
    border-bottom: solid 1px var(--background-shimmer);
    padding: 15px 0;
    margin: 0;
}

preview strong {
    color: var(--text-primary);
}

preview a {
    color: var(--primary);
    text-decoration: none;
    transition: color 0.3s;
}

preview a:hover {
    color: var(--secondary);
}

preview table {
    flex: 1;
    border-collapse: collapse;
}

preview thead tr {
    border-bottom: solid 2px var(--background-shimmer);
}

preview table th {
    color: var(--text-secondary);
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    padding: 20px;
}

preview table td {
    padding: 20px;
    border-bottom: solid 1px var(--background-secondary);
}

preview code-header {
    display: flex;
    width: calc((var(--width) * 1vw) - 20px);
    height: 40px;
    align-items: center;
    padding: 0 10px;
    margin-top: 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--background-shimmer);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

preview code-header copy {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/icons/ic_copy.svg);
    cursor: pointer;
}

preview pre {
    position: relative;
    display: block;
    width: calc(var(--width) * 1vw);
    max-height: 400px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 0;
    margin: 0 0 13px 0;
    background-color: var(--background-secondary);
    font-family: monospace;
    counter-reset: lines;
    overflow: auto;
}

preview code {
    display: inline-block;
    padding: 0 5px;
    color: var(--text-primary);
    border-radius: 5px;
    background-color: var(--background-secondary);
    font-family: monospace;
}

preview pre code {
    padding: 0 10px 0 0;
    counter-increment: lines;
}

preview pre code:before {
    position: sticky;
    left: 0;
    display: inline-block;
    content: counter(lines);
    min-width: 30px;
    padding: 0 10px;
    margin-right: 10px;
    color: var(--text-secondary);
    background-color: var(--background-secondary);
    direction: rtl;
}

preview blockquote {
    display: block;
    margin: 0;
    padding: 0 15px;
    border-left: solid 2px var(--background-shimmer);
}

preview pre[language='java'] span.code-keyword {
    color: #ff7b72;
}

preview pre[language='java'] span.code-comment {
    color: #9198a1;
}

preview pre[language='java'] span.code-string {
    color: #a5d6ff;
}

preview pre[language='java'] span.code-number {
    color: #79c0ff;
}





preview pre[language='json'] span.code-key {
    color: #7ee787;
}

preview pre[language='json'] span.code-string {
    color: #a5d6ff;
}

preview pre[language='json'] span.code-number,
        preview pre[language='json'] span.code-boolean,
        preview pre[language='json'] span.code-null {
    color: #79c0ff;
}
