<%- include('../../fragments/desktop/header') %>
        <section>
            <preview>
                <%- data %>
            </preview>
        </section>

<%- include('../../fragments/desktop/footer') %>
