<%- include('../fragments/header') %>
<%- include('../fragments/sidebar') %>

            <content>
                <nav>
                    <ul>
                        <li selected>
                            <a href='/latest'>Latest</a>
                        </li>
                        <li>
                            <a href='/top'>Top</a>
                        </li>
                    </ul>
                </nav>
                <table>
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th class='replies'>Replies</th>
                            <th class='views'>Views</th>
                            <th class='activity'>Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr pinned>
                            <td>
                                <a href='/t/tor'>OcTorrent</a>
                                <categories>
                                    <a href='/c/news'><span style='background-color: #0088CC'></span>News</a>
                                    <a href='/c/feedback'><span style='background-color: #652D90'></span>Feedback</a>
                                </categories>
                                <a href='/t/tor'>
                                    <div>
                                        The DHT bootstrap server can be used as an introducer to the octorrent DHT network. Like the ones running at router.octorrent.com.
                                    </div>
                                </a>
                            </td>
                            <td class='replies'>1</td>
                            <td class='views'>1</td>
                            <td class='activity'>1</td>
                        </tr>
                        <tr>
                            <td>
                                <a href='/t/tor'>OcTorrent</a>
                                <categories>
                                    <a href='/c/news'><span style='background-color: #0088CC'></span>News</a>
                                    <a href='/c/feedback'><span style='background-color: #652D90'></span>Feedback</a>
                                </categories>
                                <a href='/t/tor'>
                                    <div>
                                        The DHT bootstrap server can be used as an introducer to the octorrent DHT network. Like the ones running at router.octorrent.com.
                                    </div>
                                </a>
                            </td>
                            <td class='replies'>1</td>
                            <td class='views'>1</td>
                            <td class='activity'>1</td>
                        </tr>
                    </tbody>
                </table>
            </content>

<%- include('../fragments/footer') %>