<%- include('../fragments/header') %>

        <section>
            <sidebar>
                <a>News</a>
                <a selected>Feedback</a>
            </sidebar>

            <table>
                <thead>
                    <tr>
                        <th>Topic</th>
                        <th class='replies'>Replies</th>
                        <th class='views'>Views</th>
                        <th class='activity'>Activity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr pinned>
                        <td>
                            <a>TOR</a>
                            <categories>
                                <a>News</a>
                                <a>Feedback</a>
                            </categories>
                            <div>
                                The DHT bootstrap server can be used as an introducer to the octorrent DHT network. Like the ones running at router.octorrent.com.
                            </div>
                        </td>
                        <td class='replies'>1</td>
                        <td class='views'>1</td>
                        <td class='activity'>1</td>
                    </tr>
                    <tr>
                        <td>
                            <a>TOR</a>
                            <categories>
                                <a>News</a>
                                <a>Feedback</a>
                            </categories>
                            <div>
                                The DHT bootstrap server can be used as an introducer to the octorrent DHT network. Like the ones running at router.octorrent.com.
                            </div>
                        </td>
                        <td class='replies'>1</td>
                        <td class='views'>1</td>
                        <td class='activity'>1</td>
                    </tr>
                </tbody>
            </table>
        </section>

<%- include('../fragments/footer') %>