<%- include('../fragments/header') %>

            <thread-header>
                <h1>New Thread</h1>
            </thread-header>

            <thread>
                <a href='/u/'>
                    <img src='https://avatars.githubusercontent.com/u/20123198?v=4'>
                </a>

                <thread-inner>
                    <%- include('../fragments/editor') %>
                </thread-inner>
            </thread>

<%- include('../fragments/footer') %>