<%- include('../fragments/header') %>
<%- include('../fragments/sidebar') %>

            <content>
                <div>
                    <h1>TOR</h1>
                    <categories>
                        <a href='/c/news'><span style='background-color: #0088CC'></span>News</a>
                        <a href='/c/feedback'><span style='background-color: #652D90'></span>Feedback</a>
                    </categories>
                </div>
                <div>
                    The DHT bootstrap server can be used as an introducer to the octorrent DHT network. Like the ones running at router.octorrent.com.
                </div>
                <div>
                </div>
            </content>

<%- include('../fragments/footer') %>