        </section>

        <footer>
            <nav>
                <div>
                    <title>NAVIGATION</title>
                    <ul>
                        <li>
                            <a href='/'>Home</a>
                        </li>
                        <li>
                            <a href='/beps/0000'>BEPs</a>
                        </li>
                        <li>
                            <a href='/seps/0000'>SEPs</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <title>PLATFORM</title>
                    <ul>
                        <li>
                            <a href='/'>Windows</a>
                        </li>
                        <li>
                            <a href='/'>Mac OS</a>
                        </li>
                        <li>
                            <a href='/'>Linux</a>
                        </li>
                        <li>
                            <a href='/'>Android</a>
                        </li>
                        <li>
                            <a href='/'>Java</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <title>SUPPORT</title>
                    <ul>
                        <li>
                            <a href='/'>Forums</a>
                        </li>
                        <li>
                            <a href='/'>Contact</a>
                        </li>
                    </ul>
                </div>
                <div type='social'>
                    <a href='https://github.com/sectorrent' target='_blank'>
                        <svg viewBox='0 0 24 24'>
                            <path d='M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z' />
                        </svg>
                    </a>
                    <a href='https://gitlab.ide.ax/sectorrent' target='_blank'>
                        <svg viewBox='0 0 24 24'>
                            <path d='M23.526 9.12l-.033-.086L20.239.54a.861.861 0 0 0-1.63.087l-2.202 6.739H7.491L5.288.627A.864.864 0 0 0 3.658.54L.428 9.032l-.033.086a5.991 5.991 0 0 0 1.986 6.923l.011.01.029.021 4.91 3.678 2.438 1.843 1.48 1.118a1.003 1.003 0 0 0 1.21 0l1.48-1.118 2.438-1.843 4.945-3.7.013-.01a5.991 5.991 0 0 0 2.089-6.933Z' />
                        </svg>
                    </a>
                </div>
            </nav>
            <year>Copyright © 2024 <b>SecTorrent<span>.org</span></b></year>
        </footer>
    </body>
</html>