content {
    display: flex;
    width: calc(100% - 40px);
    gap: 20px;
    padding: 0 20px 30px 20px;
    align-items: center;
    flex-direction: column;
}

content nav {
    display: block;
    width: 100%;
    max-width: var(--max-content-width);
    padding: 20px 0;
    border-bottom: solid 1px var(--background-shimmer);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

content ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
}

content nav li {
    display: block;
}

content li a {
    display: block;
    height: 18px;
    line-height: 18px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    color: var(--text-primary);
    text-decoration: none;
    cursor: pointer;
    border: solid 1px var(--background-shimmer);
    background-color: var(--background-secondary);
	transition: background-color 0.3s;
}

content li a:hover {
    background-color: var(--background-shimmer);
}

content li[selected] a {
    background-color: var(--primary);
}
