content {
    display: flex;
    width: 100%;
    gap: 30px;
    flex-direction: column;
}

content content-header {
    display: block;
    width: 100%;
    padding: 20px 0;
    border-bottom: solid 1px var(--background-shimmer);
}

content-header h1 {
    margin: 0;
    color: var(--text-primary);
    font-size: 1.5em;
}

content > preview {
    display: block;
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 10px;
    border: solid 1px var(--background-shimmer);
}

content > preview:before {
    display: block;
    content: attr(label);
    font-size: 0.8em;
}
