:root {
    --width: 80%;
    --min-width: 800px;

    --primary: #994ce0;
    --secondary: #6b339e;

    --background: #141414;
    --background-secondary: #242424;
    --background-shimmer: #343434;
    
    --text-primary: #e6e6e6;
    --text-secondary: #b3b3b3;

    --white: #efefef;
    --black: #000000;
    
    --ripple: #666666;
    --good: #53bd39;
    --error: #f55442;
}
/*
@media(max-width:1500px) {
	:root {
		--width: 80% !important;
	}

	header,
            section {
		padding: 0px 10% !important;
	}
}
*/
@media(max-width:1200px) {
	:root {
		--width: 90% !important;
	}

	header,
            section {
		padding: 0px 5% !important;
	}
}

@media(max-width:800px) {
	header,
            section {
		padding: 0px 40px !important;
	}
}

html {
    color: var(--text-primary);
    background-color: var(--background);
    font-size: 1em;
    font-family: sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: var(--primary) transparent;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

::selection {
    color: var(--black);
    background: var(--primary);
    text-shadow: none;
}

::-moz-selection {
    color: var(--black);
    background: var(--primary);
    text-shadow: none;
}

body {
    min-width: var(--min-width);
    margin: 0;
}


header {
    position: fixed;
    top: 0;
	width: var(--width);
	min-width: calc(var(--min-width) - 80px);
	padding: 0px 10%;
    background-color: var(--text-primary);
    z-index: 10;
}

nav {
    white-space: nowrap;
}

header ul {
    display: flex;
    height: 80px;
    align-items: center;
    column-gap: 20px;
    padding: 0 20px;
    margin: 0 auto;
}

header li {
    display: inline-block;
}

header li a {
    display: block;
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}

header li.home a {
    font-weight: 700;
    font-size: 1.8em;
}

header li.button a {
    padding: 10px 15px;
    color: var(--text-primary);
    background-color: var(--primary);
}

header li span {
    color: var(--primary);
}


filler {
    flex: 1 1 1e-09px;
}

form {
    margin: 0;
}
