<%- include('../fragments/header') %>

        <section class='header'>
            <h1>Resources for P2P developers</h1>
            A Secure & Anonymous Torrent Protocol
        </section>

        <section>
            
        </section>

<%- include('../fragments/footer') %>