        </section>

        <footer>
            <table>
                <thead>
                    <tr>
                        <th valign='top'>
                            NAVIGATION
                        </th>
                        <th valign='top'>
                            PLATFORM
                        </th>
                        <th valign='top'>
                            SUPPORT
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td valign='top'>
                            <a href='/'>Home</a>
                        </td>
                        <td valign='top'>
                            <a href='/'>Windows</a>
                        </td>
                        <td valign='top'>
                            <a href='https://forums.octorrent.org'>Forums</a>
                        </td>
                    </tr>
                    <tr>
                        <td valign='top'>
                            <a href='/'>BEPs</a>
                        </td>
                        <td valign='top'>
                            <a href='/'>Mac OS</a>
                        </td>
                        <td valign='top'>
                            <a href='/contact'>Contact</a>
                        </td>
                    </tr>
                    <tr>
                        <td valign='top'>
                            <a href='/'>OEPs</a>
                        </td>
                        <td valign='top'>
                            <a href='/'>Linux</a>
                        </td>
                        <td valign='top'></td>
                    </tr>
                    <tr>
                        <td valign='top'></td>
                        <td valign='top'>
                            <a href='/'>Android</a>
                        </td>
                        <td valign='top'></td>
                    </tr>
                    <tr>
                        <td valign='top'></td>
                        <td valign='top'>
                            <a href='/'>Java</a>
                        </td>
                        <td valign='top'></td>
                    </tr>
                </tbody>
            </table>
            <year>Copyright © 2024 <b>OcTorrent<span>.org</span></b></year>
        </footer>
    </body>
</html>