<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>OcTorrent</title>
        <link rel='shortcut icon' href='/favicon.svg'>
        <link rel='stylesheet' href='/styles/main.css'>

        <!meta name='title' content='' />
        <!meta name='description' content='' />
        <!meta name='keywords' content='' />

        <!meta name='description' content=''>

        <!meta name='twitter:title' content='' />
        <!meta name='twitter:description' content='' />
        <!meta name='twitter:image' content='' />
        <!meta name='twitter:card' content='summary'>

        <!meta property='og:title' content='' />
        <!meta property='og:description' content='' />
        <!meta property='og:type' content='website' />
        <!meta property='og:url' content='https://' />
        <!meta property='og:image' content='' />
        <!meta name='theme-color' content='#'>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li class='home'>
                        <a href='/'>
                            OcTorrent<span>.org</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <section>
            <sidebar>
                <a>News</a>
                <a selected>Feedback</a>
            </sidebar>

            <table>
                <thead>
                    <tr>
                        <th>Topic</th>
                        <th class='replies'>Replies</th>
                        <th class='views'>Views</th>
                        <th class='activity'>Activity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a>TOR</a>
                            <categories>
                                <a>News</a>
                                <a>Feedback</a>
                            </categories>
                            <div>
                                The DHT bootstrap server can be used as an introducer to the octorrent DHT network. Like the ones running at router.octorrent.com.
                            </div>
                        </td>
                        <td class='replies'>1</td>
                        <td class='views'>1</td>
                        <td class='activity'>1</td>
                    </tr>
                    <tr>
                        <td>
                            <a>TOR</a>
                            <categories>
                                <a>News</a>
                                <a>Feedback</a>
                            </categories>
                            <div>
                                The DHT bootstrap server can be used as an introducer to the octorrent DHT network. Like the ones running at router.octorrent.com.
                            </div>
                        </td>
                        <td class='replies'>1</td>
                        <td class='views'>1</td>
                        <td class='activity'>1</td>
                    </tr>
                </tbody>
            </table>
        </section>
        