<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>OcTorrent</title>
        <link rel='shortcut icon' href='/favicon.svg'>
        <link rel='stylesheet' href='/styles/main.css'>
<%
    if(typeof styles !== 'undefined'){
        for(const style of styles){
%>
        <link rel='stylesheet' href='/styles/<%= style %>.css'>
<%
        }
    }
%>

        <!meta name='title' content='' />
        <!meta name='description' content='' />
        <!meta name='keywords' content='' />

        <!meta name='description' content=''>

        <!meta name='twitter:title' content='' />
        <!meta name='twitter:description' content='' />
        <!meta name='twitter:image' content='' />
        <!meta name='twitter:card' content='summary'>

        <!meta property='og:title' content='' />
        <!meta property='og:description' content='' />
        <!meta property='og:type' content='website' />
        <!meta property='og:url' content='https://' />
        <!meta property='og:image' content='' />
        <!meta name='theme-color' content='#'>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li class='home'>
                        <a href='/'>
                            OcTorrent<span>.org</span>
                        </a>
                    </li>
                    <filler></filler>
                    <li class='button'>
                        <a href='/signup'>
                            Sign Up
                        </a>
                    </li>
                    <li class='button'>
                        <a href='/signin'>
                            Sign In
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <section>
        