<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>OcTorrent</title>
        <link rel='shortcut icon' href='/favicon.svg'>
        <link rel='stylesheet' href='/styles/main.css'>

        <!meta name='title' content='' />
        <!meta name='description' content='' />
        <!meta name='keywords' content='' />

        <!meta name='description' content=''>

        <!meta name='twitter:title' content='' />
        <!meta name='twitter:description' content='' />
        <!meta name='twitter:image' content='' />
        <!meta name='twitter:card' content='summary'>

        <!meta property='og:title' content='' />
        <!meta property='og:description' content='' />
        <!meta property='og:type' content='website' />
        <!meta property='og:url' content='https://' />
        <!meta property='og:image' content='' />
        <!meta name='theme-color' content='#'>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li class='home'>
                        <a href='/'>
                            OcTorrent<span>.org</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <section>
            <sidebar>
                <a selected>Topics</a>
                <input id='99bb4949-ae3f-41ab-8ce1-ac852df06c70' type='checkbox'>
                <label for='99bb4949-ae3f-41ab-8ce1-ac852df06c70'>Categories</label>
                <container>
                    <a>News</a>
                </container>
                <a>Feedback</a>
            </sidebar>
        