        <sidebar>
            <a href='/' type='topics' selected>Topics</a>
            <a href='/' type='more'>More</a><br>
            <input id='99bb4949-ae3f-41ab-8ce1-ac852df06c70' type='checkbox'>
            <label for='99bb4949-ae3f-41ab-8ce1-ac852df06c70'>Categories</label>
            <container>
                <a href='/c/news'><span style='background-color: #0088CC'></span>News</a>
                <a href='/c/feedback'><span style='background-color: #652D90'></span>Feedback</a>
                <a href='/' type='all'>All Categories</a>
            </container><br>
            <a href='/tags' type='all'>All Tags</a>
        </sidebar>
