        <sidebar>
            <a type='topics' selected>Topics</a>
            <a type='more'>More</a><br>
            <input id='99bb4949-ae3f-41ab-8ce1-ac852df06c70' type='checkbox'>
            <label for='99bb4949-ae3f-41ab-8ce1-ac852df06c70'>Categories</label>
            <container>
                <a><span style='background-color: #0088CC'></span>News</a>
                <a><span style='background-color: #652D90'></span>Feedback</a>
            </container><br>
            <a type='all'>All Tags</a>
        </sidebar>
