        <sidebar>
            <a href='/' type='topics' selected>Topics</a>
            <a href='/' type='more'>More</a><br>
            <input id='<% let uuid = uniqid(); %><%= uuid %>' type='checkbox' checked>
            <label for='<%= uuid %>'>Categories</label>
            <container>
                <a href='/c/news'><span style='background-color: #0088CC'></span>News</a>
                <a href='/c/feedback'><span style='background-color: #652D90'></span>Feedback</a>
                <a href='/' type='all'>All Categories</a>
            </container><br>
            <a href='/tags' type='all'>All Tags</a>
        </sidebar>
